@media screen and (min-width: 780px) {
    .section1 {
        width: 90%;
        height: 2900px;

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 5%;
    }

    .boxhead {
        width: 90%;
        height: 40.44px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 5%;


    }

    .boxhead2 {

        height: 40.44px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 15px;
        margin-right: 20px;
        justify-content: center;
    }

    .boxhead2 button {

        display: inline;
        color: #FFF;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        margin-right: 30px;

    }

    .language {
        display: inline;
        color: #FFF;
        margin-right: 2%;

    }

    .wrapper {
        display: flex;
        width: 100%;
        height: 45px;
    }

    .boxp1 {
        width: 100%;
        height: 755px;
        display: flex;

        justify-content: end;
        background-image: url(image/firstp.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .image-text {
        display: block;
        width: 100%;
        height: 183px;
        font-family: Helvetica;
        font-size: 73px;
        font-style: normal;
        font-weight: 700;
        background-color: rgba(0, 0, 0, 0);
        /* Полупрозрачный фон для текста */
        /* Цвет текста */
        /* Отступы вокруг текста */
        color: #FFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        line-height: 89.023%;
        /* 35.609px */
        letter-spacing: -1px;
        text-transform: uppercase;




    }

    .image-text1 {

        display: block;
        text-align: right;
        width: 222px;
        height: 104px;
        font-family: Helvetica;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        color: #FFF;
        /* Цвет текста */
        /* Отступы вокруг текста */
        line-height: 120.523%;
        /* 18.078px */
        letter-spacing: -0.6px;
        text-transform: uppercase;
        padding-right: 20%;

    }

    .arrow {
        display: none;
    }

    .arrows {
        display: none;
    }

    .arrows {
        display: none;
    }

    .viewbox {
        width: 47%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        /* Выравнивание по горизонтали по центру */
        align-items: start;
        justify-content: space-between;
    }

    .pad {
        width: 47%;
        height: 350px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* Выравнивание по горизонтали по центру */
        align-items: center;
        background: radial-gradient(38.57% 63.64% at 46.28% 56.14%, #45403B 0%, #262626 100%);
    }

    .pad div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* Выравнивание по горизонтали по центру */
        align-items: center;
        height: 250px;
        width: 200px;
    }

    .pad img {
        width: 100%;
        object-fit: cover;
    }


    .boxh3 {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 280px;
        width: 100%;
        margin-left: 15.3px;
        margin-bottom: 20px;

    }

    .boxh3 h2 {
        width: 100%;
        color: #FFF;
        font-family: Helvetica;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        /* 25px */
        letter-spacing: -0.625px;
        text-transform: uppercase;

    }

    .boxh3 p {
        width: 323px;
        height: auto;
        color: #CCC;
        text-align: justify;
        font-family: Helvetica;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 129.523%;
        /* 20.724px */

    }

    .VIEW {
        color: #FFF;
        font-family: Bebas Neue;
        margin: 0px 0px 0px 0px;
        font-size: 99px;
        font-style: normal;
        font-weight: 400;
        line-height: 82.523%;
        /* 43.597px */
        letter-spacing: -0.528px;
        text-transform: uppercase;
    }
}