.class_1 {

    width: 390.016px;
    height: 3801.188px;
    background: #1E1E1E;

}

button {
    background: none;
    border: none;
}

.boxp1 {


    width: 360px;
    height: 410px;
    margin-left: 17px;
}

.boxp1 img {

    width: 360px;
    height: 410px;
    padding-right: 15px;


}


.box2q {
    display: inline-block;
    width: 175px;
    height: 185px;
    background: radial-gradient(38.57% 63.64% at 46.28% 56.14%, #45403B 0%, #262626 100%);


}

.pad {
    display: inline-block;
    width: 175px;
    height: 185px;
    background: radial-gradient(38.57% 63.64% at 46.28% 56.14%, #45403B 0%, #262626 100%);
}

.pad1 {
    display: inline-block;
    width: 175px;
    height: 185px;
    background: radial-gradient(38.57% 63.64% at 46.28% 56.14%, #45403B 0%, #262626 100%);
}

.pad1 img {
    padding: 40px 0px 0px 15px;
}




.image-text {

    position: absolute;
    top: 220px;
    left: 30px;

    width: 330px;
    height: 101;
    font-family: Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;

    background-color: rgba(0, 0, 0, 0);
    /* Полупрозрачный фон для текста */
    /* Цвет текста */
    /* Отступы вокруг текста */
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 89.023%;
    /* 35.609px */
    letter-spacing: -1px;
    text-transform: uppercase;
}

.image-text1 {

    position: absolute;
    top: 380px;
    left: 200px;
    text-align: right;
    width: 138px;
    height: 65;
    font-family: Helvetica;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    color: #FFF;
    /* Цвет текста */
    /* Отступы вокруг текста */
    line-height: 120.523%;
    /* 18.078px */
    letter-spacing: -0.6px;
    text-transform: uppercase;
}





.comp {
    text-align: center;
    font-family: Helvetica;
    font-size: 50.906px;
    font-style: normal;
    font-weight: 700;
    line-height: 89.023%;
    /* 45.318px */
    letter-spacing: -1.273px;
    text-transform: uppercase;
    color: #1E1E1E;
    -webkit-text-stroke: 1px #FFED00;
    margin-top: 80px;
    margin-bottom: 10px;
}

.about {
    margin-left: 16px;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 25px */
    letter-spacing: -0.625px;
    text-transform: uppercase;
}

.company {
    width: 360px;
    height: 494px;
}

.company p {
    padding: 12px 17px 0px 17px;
    text-align: center;
    width: 357.855px;
    min-height: 494;
    color: #CCCCCC;
    text-align: justify;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 129.523%;
    word-wrap: break-word;
    /* 20.724px */
}

.our {
    padding-left: 14px;
    width: 322.99px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 20px */
    text-transform: uppercase;
}

.contacus {

    width: 252.784px;
    color: #FFF;
    font-family: Helvetica;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 25px */
    letter-spacing: -0.625px;
    text-transform: uppercase;
}

.contacs {
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 15px;
    color: #A8A8A8;
    text-align: justify;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 129.523%;
    margin: 0px;
    /* 20.724px */
}



.milo p {
    color: #FFF;
    font-family: Bebas Neue;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 82.523%;
    /* 37.135px */
    text-transform: uppercase;
}

.boxh3 {

    height: 214px;
    width: 390px;
    margin-left: 15.3px;
}

.boxh3 h2 {
    width: 363.202px;
    color: #FFF;
    font-family: Helvetica;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 25px */
    letter-spacing: -0.625px;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.boxh3 p {
    width: 359.696px;
    color: #CCC;
    text-align: justify;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 129.523%;
    /* 20.724px */
    padding-bottom: 15.75px;
}

.hr1 {
    width: 360px;
    margin-left: 15px;
    margin-bottom: 40px;
    padding-top: -100px;
}

.boxhead {
    height: 40.44px;
    width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
}

.loopa {
    /*padding: 0px 96px 0px 15px;*/



}

.urna {

    /* height: 23px;
    width: 29px;*/

}

.namesait {

    /*padding-right: 73px;*/
}

.Light {
    display: inline-block;
    /*margin-left: 15px;
    margin-right: 47px;*/
    margin-top: 5px;
    color: #FFF;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 89.023%;
    /* 12.463px */
    letter-spacing: -0.35px;
    text-transform: uppercase;

}

.strela {
    padding-top: 80px;
    padding-left: 125px;
}

.box2pM {
    margin: 28px 0px 0px 0px;
    display: inline-block;
    color: #FFF;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 89.023%;
    /* 12.463px */
    letter-spacing: -0.35px;
    text-transform: uppercase;
}

.box2q0 {
    display: inline-block;
    width: 175px;
    height: 185px;
}

.VIEW {
    color: #FFF;
    font-family: Bebas Neue;
    margin: 0px 0px 0px 0px;
    font-size: 51.83px;
    font-style: normal;
    font-weight: 400;
    line-height: 82.523%;
    /* 43.597px */
    letter-spacing: -0.528px;
    text-transform: uppercase;
}

.secshn {
    /* display: flex; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.bbox {
    width: 390;
    height: 700px;
}



.bboxbi {
    padding-bottom: 30px;
}

.bboxcmali img {

    padding-left: 10px;
    padding-top: 30px;
}

.video {
    margin-left: 17px;
    margin-bottom: 30px;
}

.read {

    margin-top: 40px;
    margin-bottom: 30px;
    width: 390px;
    height: 25px;


}

.read img {
    align-items: right;
    padding-left: 260px;
}

.clform {
    width: 390;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

.clform img {
    padding-top: 42px;
    padding-left: 10px;
    padding-right: 20px;
}

.footer {
    width: 390px;
    height: auto;

}

.blockfoot {
    width: 100%;
    height: 400px;
    background-color: #000000;

    position: absolute;
}




.footdiv {
    height: 105px;
    padding-left: 13px;
    margin-top: -10px;
}

.footdiv p {
    color: #FFF;
    font-family: Bebas Neue;
    font-size: 40px;
    font-style: normal;
    font-weight: 380;
    line-height: 82.523%;
    /* 37.135px */
    text-transform: uppercase;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.footp {
    padding-bottom: 22px;
    padding-top: 44px;

}

.footp2 {
    padding-bottom: 43px;


}

.box2p {
    margin-left: 15px;
    margin-right: 80PX;
    display: inline-block;
    color: #FFF;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 89.023%;
    /* 12.463px */
    letter-spacing: -0.35px;
    text-transform: uppercase;
}

.pad img {
    padding-left: 30px;
    padding-top: 33px;
}

.box2q img {
    padding-left: 30px;
    padding-top: 30px;
}

.box2p3 {

    display: inline-block;
    color: #FFF;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 89.023%;
    /* 12.463px */
    letter-spacing: -0.35px;
    text-transform: uppercase;
    margin-top: 5px;
}

.nav1 {
    height: 30px;
    width: 390px;

}

.nav1 img {
    padding: 15px 15px 15px 15px;
}

.lp {
    padding-right: 91px;
}

.forma {
    margin-left: 15px;
    width: 360px;
    height: 402px;
    background: linear-gradient(180deg, #262626 30.46%, #3A3A3A 100%);



}

.forma h3 {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 37px;
}

.forma input {
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding: 0px;
    border: 0px;
}

.forma button {
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding: 0px;
    border: 0px;
}

.forma1 {
    position: absolute;
    margin-top: -50px;
    margin-left: 30px;
}

.forma p {
    color: #CCC;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 129.523%;
    text-decoration-line: underline;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0px;
}

.lastp {
    padding-top: 15px;
    padding-left: 15px;
    color: #A8A8A8;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 129.523%;
    /* 18.133px */
}

.boxline1 {
    height: 240.44px;
    width: 360px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;*/
    margin-left: 15px;
    margin-top: 40px;
}

.boxline1 p {
    white-space: nowrap;
}

.flexbox1 {
    width: 390px;
    height: 670px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}