.class_1 {

    width: 390.016px;
    height: 3331.188px;
    background-position: center center;
    background: #1E1E1E;

}

.firstpicture img {
    max-width: 360px;
    /* Максимальная ширина изображения */
    height: 409.754px;
    ;
    background-position: center center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 49.19%, rgba(0, 0, 0, 0.17) 56.21%, rgba(0, 0, 0, 0.58) 100%);
}

button {
    background: none;
    border: none;
    color: white;
}

.boxp1 {


    width: 390px;
    height: 410px;
}

.boxp1 img {

    width: 360px;
    height: 410px;
    object-fit: cover;
    margin-top: 10px;
    /* Верхний отступ 10 пикселей */
    margin-right: 15px;
    /* Правый отступ 20 пикселей */
    margin-bottom: 10px;
    /* Нижний отступ 10 пикселей */
    margin-left: 15px;

}


.image-text {

    position: absolute;
    top: 220px;
    left: 30px;

    width: 330px;
    height: 101;
    font-family: Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;

    background-color: rgba(0, 0, 0, 0);
    /* Полупрозрачный фон для текста */
    /* Цвет текста */
    /* Отступы вокруг текста */
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 89.023%;
    /* 35.609px */
    letter-spacing: -1px;
    text-transform: uppercase;
}

.image-text1 {

    position: absolute;
    top: 380px;
    left: 200px;
    text-align: right;
    width: 138px;
    height: 65;
    font-family: Helvetica;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    color: #FFF;
    /* Цвет текста */
    /* Отступы вокруг текста */
    line-height: 120.523%;
    /* 18.078px */
    letter-spacing: -0.6px;
    text-transform: uppercase;
}

.exclus {
    width: 363.202px;
    color: #FFF;
    font-family: Helvetica;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 25px */
    letter-spacing: -0.625px;
    text-transform: uppercase;
}

.anzne {
    width: 359.696px;
    color: #CCC;
    text-align: justify;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 129.523%;
    /* 20.724px */
}

.comp {
    text-align: center;
    font-family: Helvetica;
    font-size: 50.906px;
    font-style: normal;
    font-weight: 700;
    line-height: 89.023%;
    /* 45.318px */
    letter-spacing: -1.273px;
    text-transform: uppercase;
    color: #1E1E1E;
    -webkit-text-stroke: 1px #FFED00;
}

.about {
    color: #ffffff;
    font-family: Helvetica;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 25px */
    letter-spacing: -0.625px;
    text-transform: uppercase;
}

.company p {
    width: 357.855px;
    min-height: 494;
    color: #CCCCCC;
    text-align: justify;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 129.523%;
    /* 20.724px */
}

.our {
    width: 322.99px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 20px */
    text-transform: uppercase;
}